


<div class="container-fluid ">
    <div class="container">
        <div class="row " dir="rtl">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 bg-primary mt-2 rounded-3">
                <h4 class="text-center text-white p-2">  تسجيل ايرادات </h4>
            </div>
            <div class="col-lg-3"></div>

        </div>


        @Html.Partial("WebForm1")






    </div>
</div>

