@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{  مسحوبات الموظفين    }


<div class="col-10">
    <div class="container">
        <div class="form">
            <div class="formTitle">
                <h4>
                    <i class="fa-solid fa-circle-plus"></i>
                    المسحوبات
                </h4>
            </div>
            @using (Html.BeginForm("Add", "EmployeeWithdraw", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-6">
                        <h6>التاريخ</h6>
                        <input class="form-control  text-center" type="datetime-local" name="Date" id="Date" />

                        <h6 for="">اسم الموظف</h6>
                        @Html.DropDownList("EmpId", new SelectList(ViewBag.Employees, "Id", "EName"), "--اختر--", new { @class = "form-select text-center  ", required = "required" })
                        
                        <h6>الراتب</h6>
                        <input class="form-control text-center" readonly id="Salary"  type="text">
                        
                        <h6>المبلغ </h6>
                        <input class="form-control text-center" required type="number" value="0" name="Amount">
                    </div>
                    <div class="col-6">
                        <h6>البيان</h6>
                        <textarea placeholder="" class="form-control text-center" name="Note" id="Note" cols="30" rows="8"></textarea>
                    </div>
                </div>


                <button class="btn btn-primary" type="submit" >تسجيل</button>

            }
        </div>
    </div>
</div>

<input type="text" id="Save" name="Save" hidden="hidden" value="@ViewBag.SuccessMessage" />
<input type="text" id="Error" name="Error" hidden="hidden" value="@ViewBag.DeleteMessage" />

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        document.getElementById('Date').value = now.toISOString().slice(0, 16);


        if ((document.getElementById('Save').value) != "Empty") {
            swal("", document.getElementById('Save').value, "success");

        }
        if ((document.getElementById('Error').value) != "Empty") {
            swal("", document.getElementById('Error').value, "error");

        }


        $("#EmpId").change(function () {
            $.get("/EmployeeWithdraw/GetEmpSalary",
                { ID: $("#EmpId").val() },
                function (data) {
                    document.getElementById("Salary").value = "";
                    $.each(data,
                        function (index, row) {
                            if (data != null) {

                                document.getElementById("Salary").value = row.Salary;

                            }
                           

                        });
                });
        });

        $("#EmpId").click(function () {
            $.get("/EmployeeWithdraw/GetEmpSalary",
                { ID: $("#EmpId").val() },
                function (data) {
                    document.getElementById("Salary").value = "";
                    $.each(data,
                        function (index, row) {
                            if (data != null) {

                                document.getElementById("Salary").value = row.Salary;

                            }
                           

                        });
                });
        });


  

    </script>

}