@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{عرض و تعديل الحسابات  }
<div class="col-10">

    <div class="container">

        <div class="form">
            <div class="formTitle">
                <h4>
                    <i class="fa-solid fa-circle-plus"></i>
                    عرض و تعديل الحسابات
                </h4>
            </div>



            <h6 for="">اسم الحساب</h6>

            @Html.DropDownList("AccId", new SelectList(ViewBag.Accounts, "Id", "AccName"), "--الكل--", new { @class = "form-select text-center" })


            <button class="btn btn-primary" onclick="Show()">البحث</button>


            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>الاسم</th>

                        <th>رقم الهاتف</th>

                        <th>العنوان</th>
                        <th>نوع الحساب</th>
                        <th>العمليات </th>



                    </tr>
                </thead>

                <tbody id="datatable">
                </tbody>
            </table>






        </div>








    </div>





</div>

<input type="text" id="Save" name="Save" hidden="hidden" value="@ViewBag.SuccessMessage" />
<div class="position-fixed top-0 end-0 p-3" id="Mes" style="z-index: 999999">

</div>
@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
       
        if ((document.getelementbyid('save').value) != "empty") {
            swal("", document.getelementbyid('save').value, "success");

        }



        function Show() {


            $.get("/Accounts/GetAccounts",
                { ID: $("#AccId").val() },
                function (data) {
                    $('#datatable').empty();

                    $.each(data,
                        function (index, row) {
                            if (data != null) {


                           
                                if (row.AccAddress == null) {
                                    row.AccAddress = "";
                                }
                                if (row.AccPhone == null) {
                                    row.AccPhone = "";
                                }
                                $('#datatable').append("<tr> <td>" + row.AccName + "</td> <td>" + row.AccPhone + "</td><td>" + row.AccAddress + "</td><td>" + row.AccType + "</td><td ><a href='/Accounts/Edit/" + row.Id + "'><i class='fa-solid fa-pen-to-square text-success'></i></a><button type='button'   onclick='Delete(" + row.Id + ")'><i class='fa-solid fa-trash text-danger'></i></button></td></tr > ");




                            }


                        });

                });

        }


        function Delete(id) {
            var result = confirm("هل تريد حذف هذا الحساب ؟");
            if (result) {

                $.get("/Accounts/Delete",
                    { ID: $("#AccId").val(),AcId:id },
                    function (data) {
                        $('#Mes').empty();
                        $('#Mes').append("<div id='toast-8270' class='toast p-2 text-white bg-success border-0 fade show' role='alert' aria-live='assertive' aria-atomic='true'><div class='d-flex justify-content-between'>"
                            + "<div class= 'toast-body' > <i class='icon-info-sign me-1'></i>" + data.message1 + "    </div > <button type='button' class='btn-close  btn-sm me-5 mt-2 ' data-bs-dismiss='toast' aria-label='Close'></button>" +
                            " </div ></div > ");
                        $("#datatable").empty();

                        $.each(data.result1,
                            function (index, row) {
                                if (data.result1 != null) {
                                    if (row.AccAddress == null) {
                                        row.AccAddress = "";
                                    }
                                    if (row.AccPhone == null) {
                                        row.AccPhone = "";
                                    }
                                    $('#datatable').append("<tr> <td>" + row.AccName + "</td> <td>" + row.AccPhone + "</td><td>" + row.AccAddress + "</td><td>" + row.AccType + "</td><td ><a href='/Accounts/Edit/" + row.Id + "'><i class='fa-solid fa-pen-to-square text-success'></i></a><button type='button'   onclick='Delete(" + row.Id + ")'><i class='fa-solid fa-trash text-danger'></i></button></td></tr > ");



                                }


                            });

                    });
            }
        }



    </script>

}
