@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{  خصومات الموظفين  }

<div class="col-10">

    <div class="container">

        <div class="form">
            <div class="formTitle">
                <h4>
                    <i class="fa-solid fa-circle-plus"></i>
                    خصومات الموظفين
                </h4>
            </div>
            @using (Html.BeginForm("EmployeeDiscount", "Employees", FormMethod.Post))
            {
                
                <div class="row">

                    <div class="col-12">
                        <h6>التاريخ :</h6>
                        <input class="form-control text-center" type="datetime-local" name="Date" id="Date" placeholder="">
                    </div>

                    <div class="col-6">
                        <h6>اسم الموظف</h6>
                        @Html.DropDownList("EmpId", new SelectList(ViewBag.Employees, "Id", "EName"), "--اختر--", new { @class = "form-select text-center" })
                    </div>

                    <div class="col-6">
                        <h6>المبلغ   </h6>
                        <input class="form-control text-center" required type="number" name="Amount" value="0">
                    </div>

                    <div class="col-12">
                        <h6>البيان </h6>
                        <textarea class="form-control text-center" name="Note" id="" cols="30" rows="3"></textarea>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit">تسجيل</button>
            }
        </div>

    </div>

</div>


<input type="text" id="Save" name="Save" hidden="hidden" value="@ViewBag.SuccessMessage" />
<input type="text" id="Error" name="Error" hidden="hidden" value="@ViewBag.DeleteMessage" />

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        document.getElementById('Date').value = now.toISOString().slice(0, 16);


        if ((document.getElementById('Save').value) != "Empty") {
            swal("", document.getElementById('Save').value, "success");

        }
        if ((document.getElementById('Error').value) != "Empty") {
            swal("", document.getElementById('Error').value, "error");

        }
    </script>

}